body{
    font-family: Arial;
}

.b-box{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
  
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.b-box--auto{
    width: auto;
}


.b-container{
    width: 100%;
    min-height: 360px;
    background-color: salmon;
    margin: 10px 0;
}

.b-container--l{
    min-height: 800px;
}
