.b-header{
    display: block;
    &:hover{
        background-color: red;
    }
    &__logo{
        font-size: 24px;
        &--big{
            font-size: 40px;
        }
    }
    &__search{
        border: 2px solid;
    }
    &--flex{
        display: flex;
    }
}

.b-footer{
    display: block;
}
