.b-font__color--white {
    color: white;
}

.b-font__color--black {
    color: black;
}

.b-font__color--grey {
    color: grey;
}

.b-font__color--primary {
    color: var(--color--primary);
}

.b-font__color--blue {
    color: var(--color--blue);
}

.b-font__color--secondary {
    color: var(--color--secondary);
}


.b-font__size--20px {
    font-size: 20px;
}

.b-font__size--25px {
    font-size: 25px;
}

.b-font__size--XXL {
    font-size: 60px;
}



.b-font__W--der {
    font-weight: bolder;
}


.b-font__lineH--40 {
    line-height: 38px;
}



.b-font__algin--center {
    text-align: center;
}



// imposrts

@font-face {
    font-family: "Symbols";
    src: url(./assets/fonts/websymbols-regular-webfont.ttf);
}

@font-face {
    font-family: "prueba";
    src: url(./assets/fonts/FrederickatheGreat-Regular.ttf);
}

.b-font__symbols {
    font-family: var(--font--symbols);
}

.b-font__prueba {
    font-family: var(--font--prueba);
}


:root {
    --font--prueba: "prueba", "Symbols", Helvetica, sans-serif;
    --font--symbols: "Symbols", Arial, Helvetica, sans-serif;
}