.b-font__color--white {
    color: white;
}

.b-font__color--black {
    color: black;
}

.b-font__color--grey {
    color: grey;
}

.b-font__color--primary {
    color: var(--color--primary);
}

.b-font__color--blue {
    color: var(--color--blue);
}


.b-font__color--secondary {
    color: var(--color--secondary);
}


.b-font__size--20px {
    font-size: 20px;
}

.b-font__size--25px {
    font-size: 25px;
}

.b-font__size--XXL {
    font-size: 60px;
}



.b-font__W--der {
    font-weight: bolder;
}


.b-font__lineH--40 {
    line-height: 38px;
}



.b-font__algin--center {
    text-align: center;
}