.b-h1 {
    font-size: 40px;
}

.b-h1--S {
    font-size: 30px;
}

.b-h1--XS {
    font-size: 22px;
    line-height: 30px;
    color: black;
}

.b-h1--XXS {
    font-size: 15px;
    line-height: 30px;
    color: black;
}

.b-h1--M {
    font-size: 35px;
    line-height: 30px;

}

.b-h1--XL {
    font-size: 50px;
}

.b-h2 {
    font-size: 14px;
    color: black;
}

.b-h3--XS {
    font-size: 16px;
    color: black;
}