.b-text {
    font-size: 18px;
    line-height: 25px;
}

.b-text-L {
    font-size: 22px;
    line-height: 30px;
    color: black;
}

.b-text-XS {

    font-size: 14px;
    line-height: 18px;
}

.b-text--bold600 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
}