:root {
    --color--primary: #541554;
    --color--secondary: #ecb22f;
    --color--tertiary: #f4ede4;
    --color--blue: #4284f3;

}

.u-color__back--primary {
    background-color: var(--color--primary);
}

.u-color__border--primary {
    border: 2px solid var(--color--primary)
}