.u-marg-r30 {
    margin-right: 30px;
}

.u-marg-r20 {
    margin-right: 20px;
}

.u-marg-r10 {
    margin-right: 10px;
}

.u-marg-l20 {
    margin-left: 20px;
}

.u-marg-l10 {
    margin-left: 10px;
}

.u-marg--t10 {
    margin-top: 10px;
}

.u-marg--t20 {
    margin-top: 20px;
}

.u-marg--t30 {
    margin-top: 30px;
}

.u-marg--t40 {
    margin-top: 40px;
}

.u-marg--t60 {
    margin-top: 60px;
}

.u-marg--t85 {
    margin-top: 85px;
}

.u-marg--b80 {
    margin-bottom: 80px;
}

.u-marg--b30 {
    margin-bottom: 30px;
}