.u-padd-20 {
    padding: 20px;
}

.u-padd-10-15 {
    padding: 10px 15px;
}

.u-padd-l20 {
    padding-left: 20px;
}

.u-padd-l10 {
    padding-left: 10px;
}

.u-padd-lr25 {
    padding: 0px 25px;
}

.u-padd-t30 {
    padding-top: 30px;
}

.u-padd-t20 {
    padding-top: 20px;
}

.u-padd-t10 {
    padding-top: 10px;
}