.u-size-hw100 {
    height: 100%;
    width: 100%;
}

.u-size-w60 {
    width: 60%;
}

.u-size-w40 {
    width: 40%;
}

.u-size-w100 {
    width: 100%;
}

.u-size-xw {
    max-width: 1200px;
}

.u-size-h--yoker01 {
    height: 120%;
}

.u-size-h--yoker02 {
    height: 180px;
}