* {
    margin: 0;
    padding: 0;
    overflow-x: clip;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

body {
    background-color: white;
    margin-bottom: 200px;
    position: relative;

}

body::after {
    content: "Estamos Ready";
    background: #bc6317;
    position: absolute;
    font-family: fantasy;
    color: white;
    font-size: 30px;
    padding: 20px 30px;
    border-radius: 30px;
    -webkit-animation: tamosredi 1999s alternate infinite ease-in-out;
    animation: tamosredi 1999s alternate infinite ease-in-out;
    bottom: calc(0px - 150px);
    box-shadow: 0px 5px 5px grey;
}

body:hover::after {
    background: red;
    -webkit-animation: tamosredi 100ms alternate infinite ease-in-out;
    animation: tamosredi 100ms alternate infinite ease-in-out;

}

@keyframes tamosredi {

    from {
        margin-left: 0%;
        background: #bc6317;
    }

    to {
        background: rgb(46, 46, 46);
        margin-left: calc(100% - 270px);
    }
}

@-webkit-keyframes tamosredi {

    from {
        margin-left: 0%;
        /* margin-right: 0%; */
    }

    to {
        /* margin-left: 0%; */
        margin-left: calc(100% - 250px);
    }
}



img {
    max-width: 100%;
}

/* FUENTES */
@font-face {
    font-family: "roboto--bold";
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "roboto--regular";
    src: url(./fonts/Roboto-Thin.ttf);
}

/* FIN */

/* --- */

/* VARIABLES */

:root {
    --font--roboto--bold: "roboto--bold", Arial, Helvetica, sans-serif;
    --font--roboto--regular: "roboto--regular", Arial, Helvetica, sans-serif;

}

/* FIN */

.b-header {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: start;
    background-color: grey;
    /* background-attachment: fixed;
    background-image: url(./images/blue-car-driving-road.jpg);
    background-position: center center;
    background-size: cover; */
}

.b-header__contentBack {
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.b-img-base {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.b-img-opac08 {
    opacity: .8;

}

.b-headertop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 92%;
    max-width: 1200px;
    z-index: 1;
}

.b-headertop__content {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    margin-right: 50px;
    border-bottom: 2px solid grey;
}

.b-headertop__content__div01 {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 70%;
}

.b-headertop__content__div01__nav {
    display: flex;
    height: 100%;
    width: 100%;
}

.b-headertop__content__div01__nav__ul {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.b-li--padd__nav {
    padding: 5px 10px;
}

.b-li--padd__icon {
    padding: 5px 25px;
}

.b-icon--M {

    height: 22px;
}

.b-a--style01 {
    font-family: var(--font--roboto--bold);
    color: white;
}

.b-a--style01:hover {

    border-bottom: 3px solid white;
}

.b-headertop__content__div02 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
}

.b-headertop__content__div02__nav__ul {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    width: 100%;
}

.b-headertop__logo {
    display: flex;
    height: 100%;
    width: 110px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

}

.b-headertop__logo__img {
    background-color: white;
    height: 73%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

.b-headertop__logo__img img {
    width: 65%;
}

.b-headertop__logo__h {
    height: 25%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0px 5px;
}

.b-h2--XS {
    font-size: 10px;
    font-family: var(--font--roboto--bold);
}

/* .b-span--cirlce {
   
} */

.b-header__content {
    position: absolute;
    bottom: 0px;
    left: 50px;
    z-index: 2;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    padding-bottom: 50px;
}

.b-h1--XL {
    font-family: var(--font--roboto--bold);
    text-transform: uppercase;
    color: white;
    font-size: 50px;
}

.b-h2--M {

    font-family: var(--font--roboto--bold);
    text-transform: uppercase;
    color: white;
    font-size: 30px;
}

.a-styleBttn--base {
    background-color: #1c69d5;
    height: 40px;
    width: 200px;
    font-size: 12px;
    color: white;
    font-family: var(--font--roboto--bold);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* CUERPO */

.b-main {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding-top: 125px;
}

.b-main__container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 1200px;
    margin-bottom: 100px;
}

.-b-h3--mainM {
    font-family: var(--font--roboto--bold);
    color: #d7d5d5;
    font-size: 15px;
}

.b-border--style01 {
    border-bottom: 2px solid #e9e9e9;
    line-height: 50px;
    margin-left: 10px;
    padding: 0px 20px;
}

.b-nav--base {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #e9e9e9;
}

.b-ul--base {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.b-li--base {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.b-h3--mainXL {
    font-family: var(--font--roboto--bold);
    color: #252424;
    font-size: 35px;
}

.b-h3--mainXXL {
    font-family: var(--font--roboto--bold);
    color: #252424;
    font-size: 40px;
    text-transform: uppercase;
}

.b-h3--mainL {
    font-family: var(--font--roboto--bold);
    color: #9f9d9d;
    font-size: 22px;
}

.b-color--black {
    color: rgb(49, 48, 48);
}

.b-li--baseModel:hover {
    border-bottom: 5px solid #1c69d5;
}

.b-li--baseModel:hover .b-h3--mainL {
    color: #252424;
    font-size: 30px;
    transition: 200ms ease-in-out;
}

.b-main__container__contentCardCar {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-bottom: 90px;
}

.b-main__container__selectModel {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-card--model {
    height: 280px;
    width: calc(25% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 70px;
    background-color: white;
}

.--rotate180 {
    transform: scaleX(-1);
}

.--black {
    color: #252424;
}

.--paddingBtt {
    padding-bottom: 5px;
}

.--iconXL {
    font-size: 40px;
}

.--fcc {
    display: flex;
    justify-content: center;
    align-items: center;

}

.--paddXS {
    padding: 10px 0px;
}

.--paddXSbtt {
    padding-bottom: 5px;
}

.b-p--cardS {
    font-size: 18px;
    color: #cacaca;
    font-family: var(--font--roboto--bold);
}

.b-main__container__contentCardCar__ruta {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 15px;
    padding-left: 0px;
}

.b-card--style2 {
    height: auto;
    width: calc(25% - 16px);
    margin: 8px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border: 2px solid #e9e9e9;
    box-sizing: border-box;
}

.b-main__container__video {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
}

.b-p--M {
    font-family: var(--font--roboto--bold);
    color: #252424;
    font-size: 15px;
}

.b-p--XL {
    font-family: var(--font--roboto--bold);
    color: #252424;
    font-size: 25px;
    text-transform: uppercase;
}

.b-main__container__iframe {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.b-main__container__iframe__01 {
    min-height: 420px;
    width: calc(50% - 16px);
    margin: 8px;
    border: 2px solid #e9e9e9;
    padding: 12px;
    box-sizing: border-box;
    justify-content: center;
    align-items: start;
    display: flex;
}

.b-main__container__iframe__01__img {
    width: 100%;
    height: 313px;
    margin-bottom: 20px;
}

.b-main__container__iframe__02__img {
    width: 100%;
    height: 313px;
    margin-bottom: 20px;
}

.b-main__container__iframe__02 {
    min-height: 420px;
    width: calc(50% - 16px);
    margin: 8px;
    border: 2px solid #e9e9e9;
    padding: 12px;
    box-sizing: border-box;
    justify-content: center;
    align-items: start;
    display: flex;
}

.b-iframe {
    height: 100%;
    width: 100%;
}

.b--cardIframe {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.b-img--panoramic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.b-fcs {
    display: flex;
    justify-content: start;
    align-items: center;
}

.b-main__container__services {
    margin-top: 110px;
    height: 140px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.b-main__container__services_content {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.-b--cardServices {
    background-color: #e9e9e9;
    height: 100%;
    width: calc(25% - 20px);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.b-main__container__preFooter {
    height: 550px;
    background-color: rgb(235 233 233);
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
}

.b-main__container__preFooter__content {
    height: 300px;
    width: 83%;
    max-width: 1200px;
    justify-content: space-around;
    align-items: start;
    display: flex;
    border-top: 2px solid #d6d3d3;
    padding-top: 30px;
}

.b-main__container__preFooter__content__list {
    height: 100%;
    width: 22%;
    display: flex;
    flex-direction: column;
}

.b-footer {
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.b-footer__container {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-footer__content01 {
    height: 100%;
    width: max-content;
    display: flex;
    align-items: start;
    justify-content: start;
}

.b-footer__content02 {
    height: 100%;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: end;
}

.u-padd-b10 {
    padding-bottom: 10px;
}

.u-pdd-tb2 {
    padding: 2px 0px;
}

.u-padd-b30 {
    padding-bottom: 30px;
}

.u-pad-10 {
    padding: 10px;
}

.u-padd-t20 {
    padding-top: 20px;
}

.u-marg-l50 {
    margin-left: 50px;
}

.u-marg-r50 {
    margin-right: 50px;
}

.u-color-grey {
    color: #9f9d9d;
}

.u-Text-size-15 {

    font-size: 15px;
}

.b-nav--HF {

    height: 100%;
    width: 100%;
}

.u-flex {
    display: flex;
}

.u-color-blueBMW {
    color: #1c69d5;
}

.u-CC {
    justify-content: center;
    align-items: start;
}

.u-text-family {
    font-family: var(--font--roboto--bold);
}

.b-footer__next0back {
    height: 120px;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #d6d3d3;

}

.b-bttn--next0back {

    height: 50px;
    width: 120px;
    border: 1px solid #d6d3d3;
    border-radius: 3px;
}