h1{
    color: blueviolet;
    font-size: 48px;
    font-family: Arial;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

h1:after{
    content: "";
    width: 50px;
    height: 2px;
    background-color: red;
    display: block;
}

h1:before{
    content: "";
    width: 30%;
    height: 4px;
    background-color: rgb(171, 107, 230);
    display: block;
}

/*
h1:before{
    content: "\"";
}
h1:after{
    content: "\""
}
*/