* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: var(--font--roboto--bold);

}

img {
    max-width: 100%;
}

/* FUENTES */

@font-face {
    font-family: "roboto--bold";
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "roboto--regular";
    src: url(./fonts/Roboto-Thin.ttf);
}

/* FIN */

/* --- */

/* VARIABLES */

:root {
    --font--roboto--bold: "roboto--bold", Arial, Helvetica, sans-serif;
    --font--roboto--regular: "roboto--regular", Arial, Helvetica, sans-serif;
}

/* FIN */

.b-main {
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #e9e9e9;
}

.b-main__info {

    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b-main__figure {
    height: 100%;
    width: 50%;
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
}

.b-main__info__figcap {
    padding: 0px 30px;
}

.b-img--iconXS {
    width: 140px;
}

.b--hXL {
    font-size: 43px;
    text-align: center;
}

.b-img--XL {
    height: 95%;
    object-fit: cover;
}

.b--hS {
    font-size: 20px;
    text-align: center;
}

.b-a--style01 {
    background-color: #0171e3;
    padding: 10px 15px;
    border-radius: 999px;
    text-decoration: none;
    color: white;
}

.b-bttn--style01 {
    border: none;
    color: #0171e3;
    font-size: 22px;
    background-color: transparent;
}

.u-padd-tb20 {
    padding: 20px 0px;
}

.u-pdd-t15 {
    padding-top: 15px;
}

.u-pdd-l20 {
    padding-left: 20px;
}

.b-main__info__link {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}